        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
          <div class="container">
              <a class="navbar-brand" href="#page-top"><img src="assets/img/logotipo.png" alt="..." /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars ms-1"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto py-4 py-lg-0">
                      <li class="nav-item"><a class="nav-link" href="#services">Servicios</a></li>
                      <li class="nav-item"><a class="nav-link" href="#app">Reserva</a></li>
                      <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      <!-- Masthead-->
      <header class="masthead">
          <div class="container">
              <div class="masthead-subheading">No te preocupes por la limpieza de tu hogar</div>
              <!-- <div class="masthead-heading text-uppercase">It's Nice To Meet You</div> -->
              <a class="btn btn-primary btn-xl " href="#app">Limpia mi hogar</a>
              
          </div>
          
      </header>
      <!-- Services-->
      <section class="page-section" id="services">
          <div class="container" >
              <div class="text-center">
                  <h2 class="section-heading ">Servicios</h2>
                  <h3 class="section-subheading text-desc">Limpieza efectiva para todos tus ambientes</h3>
              </div>
              <div class="row text-center justify-content-md-center">
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                        <img src="/assets/img/home-page.svg" alt="" class="icon-service">
                          <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i>
                          <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                      </span>
                      
                      <h4 class="my-3">Limpieza de hogar</h4>
                      <p class="text-desc">Limpieza general del hogar , ambientes como salas, cocinas, comedores, baños y dormitorios.</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                        <img src="/assets/img/building.svg" alt="" class="icon-service">
                      </span>
                      <h4 class="my-3">Limpieza de oficina </h4>
                      <p class="text-desc">Brindamos un entorno saludable a tu lugar de trabajo que es basico para la productividad</p>
                  </div>
              <!--     <div class="col-md-4">
                      <span class="fa-stack fa-4x">
                          <i class="fas fa-circle fa-stack-2x text-primary"></i>
                          <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                      </span>
                      <h4 class="my-3">Web Security</h4>
                      <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                  </div> -->
              </div>
          </div>
      </section>
      <section class="app-section" id="app">
          <div class="container">
              <div class="row align-items-center text-center">

              
              <div class="col-lg-6">
                  <img src="/assets/img/app.png" alt="" class="img-fluid">
              </div>
              <div class="col-lg-6">
                  <div class="row justify-content-center">
                    <div class="col-md-12 py-4 descarga-app">
                        ¡Descarga nuestra app!
                    </div>
                    <div class="col-md-6 descripcion-app">Reserva y gestiona tu limpieza desde la comodidad de tu smartphone</div>
                    <div class="row py-5 justify-content-center">
                        <div class="col-5"><img src="/assets/img/google-play.png" alt="" class="img-fluid"></div>  
                        <div class="col-5">
                            <img src="/assets/img/appgallery.png" alt="" class="img-fluid" style="max-height: 47px;">
                        </div>  
                    </div>
                  </div>
                    
            </div>
        </div>
          </div>
          

      </section>



      <!-- Clients-->
     <!--  <div class="py-5">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-3 col-sm-6 my-3">
                      <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/microsoft.svg" alt="..." /></a>
                  </div>
                  <div class="col-md-3 col-sm-6 my-3">
                      <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/google.svg" alt="..." /></a>
                  </div>
                  <div class="col-md-3 col-sm-6 my-3">
                      <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/facebook.svg" alt="..." /></a>
                  </div>
                  <div class="col-md-3 col-sm-6 my-3">
                      <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/img/logos/ibm.svg" alt="..." /></a>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- Contact-->
      <section class="page-section" id="contact">
          <div class="container">
              <div class="text-center">
                  <h2 class="section-heading text-uppercase">Contactanos </h2>
                  <h4 class="section-heading">
                      <a class=" text-decoration-none text-muted"href="https://api.whatsapp.com/send/?phone=51959169597&text=Hola%20,Tengo%20una%20duda%20respecto%20al%20servicio." target="_blank"><i class="fab fa-whatsapp"></i> 921766751 </a></h4>
                  <h3 class="section-subheading text-muted">LLámanos o escríbenos si tienes alguna consulta sobre el servicio</h3>
              </div>
            
              <form id="contactForm" >
                  <div class="row align-items-stretch mb-5">
                      <div class="col-md-6">
                          <div class="form-group">
                              <!-- Name input-->
                              <input class="form-control" id="name" type="text" placeholder="Nombres *" data-sb-validations="required" />
                              <div class="invalid-feedback" data-sb-feedback="name:required">Nombre es requerido.</div>
                          </div>
                          <div class="form-group">
                              <!-- Email address input-->
                              <input class="form-control" id="email" type="email" placeholder="Email *" data-sb-validations="required,email" />
                              <div class="invalid-feedback" data-sb-feedback="email:required">Email es requerido.</div>
                              <div class="invalid-feedback" data-sb-feedback="email:email">Email no es valido.</div>
                          </div>
                          <div class="form-group mb-md-0">
                              <!-- Phone number input-->
                              <input class="form-control" id="phone" type="tel" placeholder="Telefono *" data-sb-validations="required" />
                              <div class="invalid-feedback" data-sb-feedback="phone:required">Numero de Telefono es requerido.</div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group form-group-textarea mb-md-0">
                              <!-- Message input-->
                              <textarea class="form-control" id="message" placeholder="Mensaje *" data-sb-validations="required"></textarea>
                              <div class="invalid-feedback" data-sb-feedback="message:required">Mensaje es requerido.</div>
                          </div>
                      </div>
                  </div>
                  <!-- Submit success message-->
                  <!---->
                  <!-- This is what your users will see when the form-->
                  <!-- has successfully submitted-->
                <!--   <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center text-white mb-3">
                          <div class="fw-bolder">Form submission successful!</div>
                          To activate this form, sign up at
                          <br />
                          <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                  </div> -->
                  <!-- Submit error message-->
                  <!---->
                  <!-- This is what your users will see when there is-->
                  <!-- an error submitting the form-->
                  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                  <!-- Submit Button-->
                 
              </form>
              <div class="text-center"><button class="btn btn-primary btn-xl  " >Enviar mensaje</button></div>
          </div>
      </section>
      <!-- Footer-->
      <footer class="footer py-3">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-4 text-lg-start">Copyright &copy; Limppio 2021</div>
                  <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-primary btn-social mx-2" href="https://api.whatsapp.com/send/?phone=51959169597&text=Hola%20,Tengo%20una%20duda%20respecto%20al%20servicio." target="_blank"><i class="fab fa-whatsapp"></i></a>
                      <a class="btn btn-primary btn-social mx-2" href="#!"><i class="fab fa-instagram"></i></a>
                      <a class="btn btn-primary btn-social mx-2" href="https://www.facebook.com/LimppioSA/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-primary btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                  <div class="col-lg-4 text-lg-end">
                      <a class="text-decoration-none me-3" href="#!">Privacy Policy</a>
                      <a class="text-decoration-none" href="#!">Terms of Use</a>
                  </div>
              </div>
          </div>
      </footer>
      